body {
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow-x: hidden;
}

#search-bar {
    text-align: center;
    padding: 20px;
    font-size: 17px;
    border-radius: 50px;
}

#search-bar input {
    height: 20px;
    width: 1000px;
}


.container {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 10px;
    margin: 0 auto;
    width: auto;
}

.box {
    border: 1px solid purple;
    padding: 15px;
    background-color: lightblue;
    width: 30%;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    border-radius: 25px;
    height: auto;
    flex-grow: 1;
}

h2 {
    text-align: center;
    margin: 0 0 15px 0; /* Adds space between the heading and the list */
    font-size: 1.5em;
}

/*
ul.activities{
    padding: 20px;
}

ul.items {
    display:inline;
}

.recommendations {
    display: inline-block;
    margin-left: 50px;
}

*/
